<h1>Data Sent</h1>

<script src="/socket.io/socket.io.js"></script>
    <script>
        
        var socket = io();
        var data = {{data}};
        var port = {{port}};

        var jsondata = {
            nilai:data
        }

        socket.on("connect",function(){
            console.log("Connected to server");
        })

        socket.on("suhu_data",function(suhu){
            console.log("Data: ",suhu);
        })

         
</script>
